<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<h1 align="center">Welcome <%= @user.username %>'s page </h1>
<%= current_user.username %>