    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Commercials List', commercials_path(page_num: 1), class: "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Post A Commercial', new_commercial_path, class: "btn btn-info" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'My Commercials', my_path, class: "btn btn-info" %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Change Info', edit_user_registration_path, class: "btn btn-info" %></li>
              </ul>
            </li>
          </ul>
            <div class="navbar-form navbar-left">
              <%= form_tag search_path, method: :get  do %>
                  <%= text_field_tag :search, params[:search], placeholder: 'search commercials' %>
                  <%= submit_tag "Search", class: "btn btn-success" %>
              <% end %>
            </div>
            <div class="navbar-form navbar-right">
              <%= !!current_user ? link_to('Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-danger") : "" %>
            </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </head>