<p id="notice"><%= notice %></p>

<p>Title: <%= @commercial.title %>
</p>

<p>
Description: <%= @commercial.description %>
  <ul class="listing">
    <div class="row">
        </div>
</p>

<%= video_tag @commercial.video.url(:medium).sub!('medium', 'original') , controls: true, style: "max-width: 100%;" %>
<%= @commercial.video.url(:medium).sub!('medium', 'original') %>
  <p>
    <%= link_to "like", (@commercial.id).to_s + '/like', id: @commercial.id, method: :post%>
  </p>
  <p>
    <%= link_to "dislike", (@commercial.id).to_s + '/dislike', id: @commercial.id, method: :post%>
  </p>

  <%= @commercial.total %>



<%= link_to 'Edit', edit_commercial_path(@commercial) %> |
<%= link_to 'Back', commercials_path %>


